/* roboto-regular - latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('roboto-v29-latin_cyrillic-ext_cyrillic-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('roboto-v29-latin_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('roboto-v29-latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('roboto-v29-latin_cyrillic-ext_cyrillic-regular.woff') format('woff'),
        /* Modern Browsers */
        url('roboto-v29-latin_cyrillic-ext_cyrillic-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('roboto-v29-latin_cyrillic-ext_cyrillic-regular.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-italic - latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('roboto-v29-latin_cyrillic-ext_cyrillic-italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('roboto-v29-latin_cyrillic-ext_cyrillic-italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('roboto-v29-latin_cyrillic-ext_cyrillic-italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('roboto-v29-latin_cyrillic-ext_cyrillic-italic.woff') format('woff'),
        /* Modern Browsers */
        url('roboto-v29-latin_cyrillic-ext_cyrillic-italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('roboto-v29-latin_cyrillic-ext_cyrillic-italic.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('roboto-v29-latin_cyrillic-ext_cyrillic-500.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('roboto-v29-latin_cyrillic-ext_cyrillic-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('roboto-v29-latin_cyrillic-ext_cyrillic-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('roboto-v29-latin_cyrillic-ext_cyrillic-500.woff') format('woff'),
        /* Modern Browsers */
        url('roboto-v29-latin_cyrillic-ext_cyrillic-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('roboto-v29-latin_cyrillic-ext_cyrillic-500.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-500italic - latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url('roboto-v29-latin_cyrillic-ext_cyrillic-500italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('roboto-v29-latin_cyrillic-ext_cyrillic-500italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('roboto-v29-latin_cyrillic-ext_cyrillic-500italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('roboto-v29-latin_cyrillic-ext_cyrillic-500italic.woff') format('woff'),
        /* Modern Browsers */
        url('roboto-v29-latin_cyrillic-ext_cyrillic-500italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('roboto-v29-latin_cyrillic-ext_cyrillic-500italic.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('roboto-v29-latin_cyrillic-ext_cyrillic-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('roboto-v29-latin_cyrillic-ext_cyrillic-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('roboto-v29-latin_cyrillic-ext_cyrillic-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('roboto-v29-latin_cyrillic-ext_cyrillic-700.woff') format('woff'),
        /* Modern Browsers */
        url('roboto-v29-latin_cyrillic-ext_cyrillic-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('roboto-v29-latin_cyrillic-ext_cyrillic-700.svg#Roboto') format('svg');
    /* Legacy iOS */
}

/* roboto-700italic - latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('roboto-v29-latin_cyrillic-ext_cyrillic-700italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('roboto-v29-latin_cyrillic-ext_cyrillic-700italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('roboto-v29-latin_cyrillic-ext_cyrillic-700italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('roboto-v29-latin_cyrillic-ext_cyrillic-700italic.woff') format('woff'),
        /* Modern Browsers */
        url('roboto-v29-latin_cyrillic-ext_cyrillic-700italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('roboto-v29-latin_cyrillic-ext_cyrillic-700italic.svg#Roboto') format('svg');
    /* Legacy iOS */
}