<div class="col">

    <!-- Block header -->
    <div class="row">
        <div 
            class="section-top"            >
            <span class="title">
                Proxy servers
            </span>
        </div>
    </div>

    <!-- List header -->
    <div class="row">
        <div class="column label">
            Use proxy: 
        </div>
        <div 
            class="column value"
            (click)="openModalSelect('selectedUse')"
        >
            {{selectedProxy}}
        </div>
    </div>
    <app-modal
        *ngIf="displayModalSelect"
        (closeModal)="closeModalSelect()"
        (successModal)="openModalAdd()"
        [txtSuccess]="txtSuccessSelect"
    >
        <div 
            class="select-proxy-content"
        >
            <div class="proxies-header">
                Select proxy that using Interface
            </div>
            <div class="proxies">
                <div 
                    class="proxy"
                    *ngFor="let proxy of proxies; index as idx; trackBy: trackByFn"
                    (click)="selectProxyUrl(proxy)"
                >
                    <div 
                        class="address"
                        [class.selected]="proxy.selected"
                    >
                        <span>
                            {{'https://' + proxy.host + ':' + proxy.port}} 
                        </span>
                        <i 
                            *ngIf="proxy.selected"
                            class="fa fa-check"
                        >
                        </i>
                    </div>
                    
                    <div 
                        class="panel"
                        *ngIf="proxy.default; else elseBlock"
                    >
                        <div 
                            class="item pn"
                        >
                            <i class="fas fa-certificate"></i>
                        </div>   
                    </div>
                    <ng-template
                        #elseBlock
                    >
                        <div class="panel">
                            <div 
                                class="item pn remove"
                                (click)="removeProxy(idx)"
                            >
                                <i class="fas fa-trash-alt"></i>
                            </div>  
                        </div>
                        <div class="panel">
                            <div 
                                class="item pn change"
                                (click)="setProxy(idx)"
                            >
                                <i class="fas fa-cog"></i>
                            </div>  
                        </div>

                    </ng-template> 
                </div>
            </div>
        </div>
    </app-modal>
    <app-modal
        *ngIf="displayModalAdd"
        (closeModal)="closeModalAdd()"
        (successModal)="addProxyItem()"
        [txtSuccess]="newProxy.key ? txtSuccessSave : txtSuccessAdd"
    >
        <div class="add-proxy-content">
            <div class="add-header">
                Add proxy
            </div>
            <div class="fields">
                <div class="field">
                    <div class="label">
                        <span>
                            Node host
                        </span>
                    </div>
                    <div class="input-wrapper">
                        <input 
                            type="text"
                            placeholder="0.0.0.0"
                            [(ngModel)]="newProxy.host" #ctrl="ngModel"
                        >
                    </div>
                </div>
                <div class="field">
                    <div class="label">
                        <span>
                            RPC Port
                        </span>
                    </div>
                    <div class="input-wrapper">
                        <input 
                            type="text"
                            placeholder="8899"
                            [(ngModel)]="newProxy.port" #ctrl="ngModel"
                        >
                    </div>
                </div>
                <div class="field">
                    <div class="label">
                        <span>
                            WS Port                            
                        </span>
                    </div>
                    <div class="input-wrapper">
                        <input 
                            type="text"
                            placeholder="8099"
                            [(ngModel)]="newProxy.wss" #ctrl="ngModel"
                        >
                    </div>
                </div>
            </div>
        </div>
        
    </app-modal>
</div>