
@color-text-second : #00a4ff;
@color-bad : #FF0C39;

.row{
    margin-top: 1em;

    .label{
        width: 160px
    }
    
    .value{
        text-decoration: underline;
        cursor: pointer;
    }

}

.select-proxy-content{

    .proxies-header{
        font-size: 15px;
        font-weight: 700;
        height: 55px;
        line-height: 55px;
    }

    .proxies{

        .proxy{
            display: flex;
            align-items: center;
            
            .address{
                width: 100%;
                cursor: pointer;

                &.selected{
                    color: @color-text-second;
                }
            }

            .panel{

                .pn{
                    padding: 1em;
                    color: #b2abac;
                    text-align: right;

                    &.change{
                        cursor: pointer;

                        &:hover{
                            color: @color-text-second;
                        }
                    }

                    &.remove{
                        cursor: pointer;

                        &:hover{
                            color: @color-bad;
                        }
                    }
                }
        
            }
        }

    }

}

.add-proxy-content{
    .add-header{
        font-size: 15px;
        font-weight: 700;
        height: 55px;
        line-height: 55px;
    }

    .fields{
        .field{
            display: flex;

            .label{
                display: flex;
                align-items: center;
                padding-right: .5em;
                width: 35%;
            }
            .input-wrapper{
                width: 100%;
                padding: .5em 0;

                input{
                    width: 100%;
                    padding: .5em;
                    border: 1px solid #d0c9ca;
                    border-radius: 2px;
                    background: #fff;
                    &:focus{
                        outline: none;
                    }
                }
            }
            
        }
    }
}
