<div class="footer row">
    <div class="col-auto">
        <div class="logo-wrapper">
            <img src="assets/logo.svg" width="30" height="30" class="d-inline-block align-top mr-1" alt="">
        </div>
        <div class="text-wrapper">
            <div class="d-inline-block">Pocketcoin (PKOIN) Explorer</div>
            <div class="block-small">Pocketcoin is a network token of Pocketnet</div>
        </div>
    </div>
    <div class="col text-right">
        Pocketnet, {{ year }}
    </div>
</div>