<app-loader *ngIf="!address"></app-loader>

<div class="col" *ngIf="address">

    <!-- Header -->
    <div class="rowBlock">
        <div class="row">
            <h1>Address</h1>
        </div>

        <div class="row address_hash">
            {{addresshash}}
        </div>

        <div class="row address_balance_row">
            {{address.unspent/100000000 | round:3 | pkoin:0:3}}
        </div>
    </div>

    <!-- Summary -->
    <div class="row rowBlock">
        <div class="col">
            <div class="row">
                <h2>Summary</h2>
            </div>
            <div class="row">
                <table class="table table-sm" style="table-layout: fixed">
                    <tr>
                        <td>Total Received</td>
                        <td class="text-right text-muted">{{(address.spent + address.unspent)/100000000 | pkoin}}</td>
                    </tr>
                    <tr>
                        <td>Total Sent</td>
                        <td class="text-right text-muted">{{address.spent/100000000 | pkoin}}</td>
                    </tr>
                    <tr>
                        <td>Final Balance</td>
                        <td class="text-right text-muted">{{address.unspent/100000000 | pkoin}}</td>
                    </tr>
                    <tr>
                        <td>No. Transactions</td>
                        <td class="text-right text-muted">{{address.txids.length}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <app-tx-list class="row rowBlock" *ngIf="address" [in_addressHash]="addresshash"></app-tx-list>
    
</div>