<div class="col">

    <div class="row">
        <div class="section-top pointer" (click)="toggleShow()">
            <span class="title">
                Statistic
            </span>
            <span class="icon">
                <i [class]="show ? 'fas fa-angle-down opened' : 'fas fa-angle-down closed'"> </i>
            </span>
        </div>
    </div>


    <div [hidden]="!show">
        <div class="row">
            <ng-select class="w-100" [searchable]="false" [clearable]="false" [(ngModel)]="statPeriod"
                (ngModelChange)="ngAfterViewInit()">
                <ng-option [value]="1">Show statistics for last Day</ng-option>
                <ng-option [value]="2">Show statistics for last Month</ng-option>
            </ng-select>
        </div>

        <div class="row">
            <div id="stat_days_content_canvas" style="width: 100%; height: 400px; display: block;"></div>
        </div>

        <div class="row">
            <div id="stat_days_count_canvas" style="width: 100%; height: 400px; display: block;"></div>
        </div>
        
    </div>

</div>