.navbar {
    border-bottom: 1px solid rgb(255, 208, 241);

    .navbar-brand {
        font-weight: 650;
        font-size: 0.85rem;
        margin-right: 0rem;
    }

    .status {
        padding: 0.2rem 0.4rem;
        
        .fas {
            margin-right: 0.3rem;
        }
    }
    
    .searchBox {        
    }
}

@media (max-width: 700px) {
    .navbar {
        .searchBox {
        }
    }
}


