.navbar {
  border-bottom: 1px solid #ffd0f1;
}
.navbar-brand {
  font-weight: 650;
  font-size: 0.85rem;
}
.status {
  padding: 0.2rem 0.4rem;
  border: 1px solid #e4e4e4;
}
.status .fas {
  margin-right: 0.3rem;
}
