.navbar {
    background-color: #ffffffed;
    height: 51px;
    
    .navbar-brand {
        display: flex;
        font-weight: 650;
        font-size: 0.85rem;
        margin-right: 0rem;

        .text-wrapper{
            margin-left: 1px;
        }

        .block-small{
            font-size: .7em;
            font-weight: 100;
            margin-top: -3px;
        }
    }

    .node, .status{
        display: flex;
        align-items: center;
    }
    
    .theme-toggler{
        display: flex;
        align-items: center;
        padding: 0;

        .label{
            color: #007bff;
            font-size: .9em;
            padding-right: .5em;
        }

        i{
            cursor: pointer;
        }

        .fa-toggle-off{
            display: none;
            color: rgb(244, 26, 77);
        }
        .fa-toggle-on{
            color: #068222;
        }

        &.on{
            .fa-toggle-on{
                display: inline-block;
            }
            .fa-toggle-off{
                display: none;
            }
        }

        &.off{
            .fa-toggle-on{
                display: none;
            }
            .fa-toggle-off{
                display: inline-block;
            }
        }
    }

    .status {
        line-height: 30px;
        
        .fas {
            margin-right: 0.3rem;
        }
    }
    
    .searchBox {        
    }
}

@media (max-width: 700px) {
    .navbar {
        .searchBox {
        }
    }
}


