<div class="col rounded bg-light py-2 mb-3 border">
    <div class="row">
        <div class="col-lg-auto col-md-8 col-sm-7 border-bottom pb-2 ">
            <div class="ellipsis">
                <a href="transaction/{{tx.txid}}">{{tx.txid}}</a>
            </div>
        </div>
        <div class="col align-self-end text-right border-bottom pb-2 text-muted pointer" (click)="extend = !extend">
            {{tx.nTime * 1000 | date:'medium'}}
            <i *ngIf="!extend" class="fas fa-angle-down pl-2"></i>
            <i *ngIf="extend" class="fas fa-angle-up pl-2"></i>
        </div>
    </div>

    <div class="row my-2">
        <div class="col">
            <app-vin class="mb-1" *ngFor="let vin of tx.vin" [vin]="vin"></app-vin>
        </div>
        <div class="col">
            <app-vout class="" *ngFor="let vout of tx.vout" [vout]="vout"></app-vout>
        </div>
    </div>

    <div class="row">
        <div class="col pt-2">
            <div class="border-top ml-n2 mr-1 txvalues txvalues-info" *ngIf="(tx | txType) != ''">{{tx | txType}}</div>
            <div class="border-top mr-1 txvalues txvalues-info" *ngIf="tx.type > 3">Fee: {{tx | txFee | pkoin}}</div>
            <div class="border-top ml-1 mr-n2 float-right txvalues txvalues-amount">{{ tx | txAmount | pkoin }}</div>
            <div *ngIf="Global.blockchainInfo" class="border-top float-right txvalues txvalues-conf">{{ (Global.blockchainInfo ? Global.blockchainInfo.lastblock.height : 0) - (tx.height ? tx.height : 0) }} Confirmations</div>
        </div>
    </div>
</div>