<div class="col rounded bg-light mb-3 bg-darkmode-dark">
    <div class="row pt-2 txHead">
        <div class="col-lg-auto col-md-8 col-sm-7 pb-2 ">
            <div class="ellipsis">
                <a href="transaction/{{tx.txid}}" class="mono">{{tx.txid}}</a>
            </div>
        </div>
        <div class="col align-self-end text-right pb-2 text-muted pointer" (click)="extend = !extend">
            {{tx.nTime * 1000 | date:'medium'}}
            <i *ngIf="!extend" class="fas fa-angle-down pl-2"></i>
            <i *ngIf="extend" class="fas fa-angle-up pl-2"></i>
        </div>
    </div>

    <div class="row my-2" *ngIf="extend">
        <div class="col">
            <app-vin class="mb-1" *ngFor="let vin of tx.vin" [vin]="vin"></app-vin>
        </div>
        <div class="col">
            <app-vout class="" *ngFor="let vout of filterOuts()" [vout]="vout"></app-vout>
        </div>
    </div>

    <div class="row pt-1 pb-1 txFoot pointer" (click)="extend = !extend">
        <div class="col">
            <div *ngIf="Global.blockchainInfo" class="mr-4 txvalues txvalues-type text-left">{{tx | txType}}</div>
            <div class="mr-5 txvalues txvalues-info text-left" *ngIf="(tx | txType) != ''">Confirmations: {{ (Global.blockchainInfo ? Global.blockchainInfo.lastblock.height : 0) - (tx.height ? tx.height : 0) }}</div>
            <div class="mr-4 txvalues txvalues-info text-left" *ngIf="tx.type > 3 || tx.type == 1">Fee: {{tx | txFee | pkoin}}</div>

            <div class="float-right txvalues txvalues-amount text-right">{{ tx | txAmount | pkoin }}</div>
        </div>
    </div>
</div>