<div class="col rounded bg-light py-2 mb-3 border">
    <div class="row">
        <div class="col-lg-auto col-md-8 col-sm-7 border-bottom pb-2 ">
            <div class="ellipsis">
                <a href="transaction/{{tx.txid}}">{{tx.txid}}</a>
            </div>
        </div>
        <div class="col align-self-end text-right border-bottom pb-2 text-muted pointer" (click)="extend = !extend">
            {{tx.nTime * 1000 | date:'medium'}}
            <i *ngIf="!extend" class="fas fa-angle-down pl-2"></i>
            <i *ngIf="extend" class="fas fa-angle-up pl-2"></i>
        </div>
    </div>

    <div class="row my-2">
        <div class="col" *ngIf="tx.coinbase && tx.height >= 1020">
            No Inputs
        </div>
        <div class="col" *ngIf="!tx.coinbase || tx.height < 1020">
            <app-vin class="" *ngFor="let vin of tx.vin" [vin]="vin"></app-vin>
        </div>
        <div class="col" *ngIf="!tx.coinbase || tx.height < 1020">
            <app-vout class="" *ngFor="let vout of tx.vout" [vout]="vout"></app-vout>
        </div>
    </div>

    <div class="row">
        <div class="col pt-2">
            <div class="border-top ml-n2 txvalues txvalues-info" *ngIf="(tx | poc_type) != ''">{{tx | poc_type}}</div>
            <div class="border-top ml-n2 txvalues txvalues-info" *ngIf="(tx | poc_type) == '' && !tx.coinstake && !tx.coinbase">Fee: {{tx.fee | poc}}</div>
            <div class="border-top ml-n2 txvalues txvalues-info" *ngIf="tx.coinstake">PoS transaction</div>
            <div class="border-top ml-n2 txvalues txvalues-info" *ngIf="tx.coinbase">Coinbase transaction</div>
            <div class="border-top ml-1 mr-n2 float-right txvalues txvalues-amount">{{ tx.amount | poc }}</div>
            <div *ngIf="Global.blockchainInfo" class="border-top float-right txvalues txvalues-conf">{{ Global.blockchainInfo.blocks - tx.height }} Confirmations</div>
        </div>
    </div>
</div>