<table class="table table-sm table-borderless">
    <thead class="">
        <tr>
            <th class="text-left" title="Block height">Height</th>
            <th class="text-left d-none d-lg-table-cell" title="Block hash">Hash</th>

            <th class="text-right d-none d-lg-table-cell" title="Age">Age</th>
            <th class="text-right" title="Time">Time</th>
            <th class="text-right" title="Transactions in block">TX</th>

            <th class="text-right d-none d-lg-table-cell" title="Users"><i class="fas fa-user-friends"></i></th>
            <th class="text-right d-none d-lg-table-cell" title="Posts"><i class="far fa-file-alt"></i></th>
            <th class="text-right d-none d-lg-table-cell" title="Ratings"><i class="fas fa-star-half-alt"></i></th>
            <th class="text-right d-none d-lg-table-cell" title="Follows"><i class="far fa-address-book"></i></th>
            <th class="text-right d-none d-lg-table-cell" title="Comments"><i class="fas fa-comments"></i></th>
            <!-- <th class="text-right" title="Block size">Size</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let bc of blocks">
            <td><a href="block/{{bc.hash}}">{{bc.height}}</a></td>
            <td class="d-none d-lg-table-cell">
                <div class="ellipsis">
                    <a href="block/{{bc.hash}}" class="">{{bc.hash}}</a>
                </div>
            </td>
            
            <td class="text-right d-none d-lg-table-cell">{{ bc.time * 1000 | timeAgo }}</td>
            <td class="text-right">{{ bc.time * 1000 | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
            <td class="text-right">{{ bc.ntx }}</td>

            <td class="text-right poc_type d-none d-lg-table-cell">{{ bc.types.users || '-' }}</td>
            <td class="text-right poc_type d-none d-lg-table-cell">{{ bc.types.posts || '-' }}</td>
            <td class="text-right poc_type d-none d-lg-table-cell">{{ bc.types.scores || '-' }}</td>
            <td class="text-right poc_type d-none d-lg-table-cell">{{ bc.types.subscriptions || '-' }}</td>
            <td class="text-right poc_type d-none d-lg-table-cell">{{ bc.types.comments || '-' }}</td>

            <!-- <td class="text-right">{{ bc.size | number }}</td> -->
        </tr>
    </tbody>
</table>
