<div class="col">

    <!-- Header -->
    <div class="row">
        <div 
            class="section-top pointer"
            (click)="toggleShow()"
        >
            <span class="title">
                Latest block
            </span>
            <span 
                class="icon"
            >
                <i 
                    [class]="show ? 'fas fa-angle-down opened' : 'fas fa-angle-down closed'"
                >
                </i>
            </span>
        </div>
    </div>

    <!-- Blocks table -->
    <div 
        [hidden]="!show"
        class="row"
    >
        <app-loader class="generalLoading" *ngIf="loading"></app-loader>
        <div class="table-responsive-sm w-100">
            <table class="table table-sm table-borderless" style="min-width: 350px;">
                <thead class="">
                    <tr class="">
                        <th class="text-left" title="Block height">Height</th>
                        <th class="text-left blHash d-none d-md-table-cell" title="Block hash">Hash</th>

                        <th class="text-right" title="Age">Age</th>
                        <!-- <th class="text-right d-none d-md-table-cell d-lg-none d-xl-table-cell" title="Time">Time</th> -->
                        <th class="text-center" title="Transactions in block">TX</th>

                        <th class="text-center" title="Users"><i class="fas fa-user-friends"></i></th>
                        <th class="text-center" title="Posts"><i class="far fa-file-alt"></i></th>
                        <th class="text-center" title="Video"><i class="fas fa-video"></i></th>
                        <th class="text-center" title="Boosts"><i class="fas fa-bolt"></i></th>
                        <th class="text-center" title="Ratings"><i class="fas fa-star-half-alt"></i></th>
                        <th class="text-center" title="Follows"><i class="far fa-address-book"></i></th>
                        <th class="text-center" title="Comments"><i class="fas fa-comments"></i></th>
                        <th class="text-center" title="Flags"><i class="fas fa-exclamation-circle"></i></th>
                        <th class="text-center" title="Barteron Offers"><i class="fas fa-exchange-alt"></i></th>
                        <th class="text-center" title="Coins"><i class="fas fa-coins"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let bc of blocks; trackBy: trackByBlock">
                        <td class="">
                            <a href="block/{{bc.hash}}">{{bc.height}}</a>
                        </td>
                        <td class="d-none d-md-table-cell">
                            <div class="ellipsis blHash"><a href="block/{{bc.hash}}" class="mono">{{bc.hash}}</a></div>
                        </td>

                        <td class="text-right nowrap">{{ bc.time * 1000 | timeAgo | rpl:' ago':'' | rpl:'minutes':'min' | rpl:'minute':'min' | rpl:'seconds':'sec' }}</td>
                        <!-- <td class="text-center d-none d-md-table-cell d-lg-none d-xl-table-cell">{{ bc.time * 1000 | date: 'dd/MM/yyyy HH:mm:ss' }}</td> -->
                        <td class="text-center">{{ bc.ntx }}</td>
                            
                        <td class="text-center poc_type" [ngClass]="{'empty': !(bc | AccountsCnt)}">{{ (bc | AccountsCnt) || '-' }}</td>
                        <td class="text-center poc_type" [ngClass]="{'empty': !(bc | ContentsCnt)}">{{ (bc | ContentsCnt) || '-' }}</td>
                        <td class="text-center poc_type" [ngClass]="{'empty': !(bc | VideosCnt)}">{{ (bc | VideosCnt) || '-' }}</td>
                        <td class="text-center poc_type" [ngClass]="{'empty': !(bc | BoostCnt)}">{{ (bc | BoostCnt) || '-' }}</td>
                        <td class="text-center poc_type" [ngClass]="{'empty': !(bc | ScoresCnt)}">{{ (bc | ScoresCnt) || '-' }}</td>
                        <td class="text-center poc_type" [ngClass]="{'empty': !(bc | SubscribesCnt)}">{{ (bc | SubscribesCnt) || '-' }}</td>
                        <td class="text-center poc_type" [ngClass]="{'empty': !(bc | CommentsCnt)}">{{ (bc | CommentsCnt) || '-' }}</td>
                        <td class="text-center poc_type" [ngClass]="{'empty': !(bc | FlagsCnt)}">{{ (bc | FlagsCnt) || '-' }}</td>
                        <td class="text-center poc_type" [ngClass]="{'empty': !(bc | BarteronOfferCnt)}">{{ (bc | BarteronOfferCnt) || '-' }}</td>
                        <td class="text-center poc_type" [ngClass]="{'empty': !(bc | PkoinsCnt)}">{{ (bc | PkoinsCnt) || '-' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Blocks control -->
    <div 
        [hidden]="!show"
        class="row last_blocks_control_back bg-darkmode-dark"
    >
        <div class="col px-0">
            <div class="float-left">
                <button type="button" class="btn shadow-none bg-darkmode-dark" (click)="MoveBlocks(0)"
                    title="Forward at 100 blocks"><i class="fas fa-angle-double-up"></i></button>
                <button type="button" class="btn shadow-none bg-darkmode-dark" (click)="MoveBlocks(10)"
                    title="Forward at 10 blocks"><i class="fas fa-angle-up"></i></button>
            </div>
        </div>
        <div class="col px-0">
            <div class="float-right">
                <button type="button" class="btn shadow-none bg-darkmode-dark" (click)="MoveBlocks(-10)"
                    title="Backward at 10 blocks"><i class="fas fa-angle-down"></i></button>
            </div>
        </div>
    </div>


</div>