<table class="table table-sm table-hover">
    <thead class="thead-light">
        <tr>
            <th>Height</th>
            <th class="d-none d-lg-table-cell">Hash</th>
            <th>Age</th>
            <th class="text-right">TXs</th>
            <th class="text-right">Size</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let bc of blocks">
            <td><a href="block/{{bc.hash}}">{{bc.height}}</a></td>
            <td class="d-none d-lg-table-cell">
                <div class="ellipsis">
                    <a href="block/{{bc.hash}}">{{bc.hash}}</a>
                </div>
            </td>
            <td>{{ bc.time * 1000 | timeAgo }}</td>
            <td class="text-right">{{bc.ntx}}</td>
            <td class="text-right">{{bc.size}}</td>
        </tr>
    </tbody>
</table>