.poc_type {
    min-width: 30px;
    width    : 30px;

    &.empty {
        color: #bfbfbf;
    }
}

.last_blocks_control_back {
    background-color: #f8f9fa;

    button {
        min-width: 3em;
    }
}

.blHash {
    &.ellipsis {
        color: #007bff;
    }
}

@media (max-width: 900.98px) {
    .blHash {
        max-width: 235px;
    }
}

@media (min-width: 901px) and (max-width: 991.98px) {
    .blHash {
        max-width: 250px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .blHash {
        max-width: 490px;
    }
}
