<app-loader *ngIf="!blocks"></app-loader>

<div class="col" *ngIf="blocks">

    <!-- Toggle proxy servers -->
    <app-proxyservers class="row rowBlock"></app-proxyservers>

    <!-- Toggle nodes -->
    <app-nodes-radio class="row rowBlock"></app-nodes-radio>

    <!-- Latest blocks -->
    <app-block-list class="row rowBlock" [blocks]="blocks" [loading]="loading" (moveBlocksEvent)="MoveBlocks($event)"></app-block-list>

    <!-- Statistic -->
    <app-stat-days-count class="row rowBlock"></app-stat-days-count>

    <!-- Network -->
    <app-nodes-list class="row rowBlock"></app-nodes-list>
    
</div>
