<div class="col">

    <!-- Block header -->
    <div class="row">
        <div class="section-top pointer" (click)="toggleShow()">
            <a name=nodeListSection></a>
            <span class="title">
                Pocketnet nodes
            </span>
            <span class="icon">
                <i [class]="show ? 'fas fa-angle-down opened' : 'fas fa-angle-down closed'">
                </i>
            </span>
        </div>
    </div>

    <!-- List header -->
    <div class="row"></div>


    <!-- Peers list -->
    <div [hidden]="!show" class="row">

        <table class="table table-sm table-borderless" style="min-width: 350px;">
            <thead>
                <tr>
                    <th class="text-left th-checkbox"></th>
                    <th class="text-left th-name" title="Name"><span>Name</span></th>
                    <th class="text-left th-address" title="Address"><span>Address</span></th>
                    <th class="text-left th-status" title="Status"><span>Status</span></th>
                    <th class="text-left th-empty"></th>
                    <th class="text-left th-empty"></th>
                    <th class="text-left th-empty"></th>
                </tr>
            </thead>
            <app-loader *ngIf="!nodes.length" class="loader">
            </app-loader>
            <tbody>
                <tr *ngFor="let node of nodes; trackBy: trackByFn" [class]="!node.statistic.percent ? 'cantuse' : ''">
                    <td>
                        <div 
                            *ngIf="selectedNode !== node.node.key" 
                            class="use"
                            (click)="selectNode(node.node.key)"
                        >
                            <i class="far fa-circle"></i>
                        </div>
                        <div 
                            *ngIf="selectedNode === node.node.key && !fixed" 
                            class="use using"
                            (click)="fix(true)"
                        >
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-lock"></i>
                        </div>
                        <div 
                            *ngIf="selectedNode === node.node.key && fixed" 
                            class="use fixed"
                            (click)="fix(false)"
                        >
                            <i class="fas fa-lock"></i>
                            <i class="fas fa-unlock"></i>
                        </div>
                        
                    </td>
                    <td><span>{{ node.node.name }}</span></td>
                    <td class="td-address"><span>{{ node.node.key + '/' + node.node.ws }}</span></td>
                    <td class="td-percent">
                        <span *ngIf="node.statistic.percent">
                            {{ node.statistic.time.toFixed(0) + 'ms, ' + node.statistic.percent.toFixed(0) + ' %'}}
                        </span>
                        <span *ngIf="!node.statistic.percent">
                            —
                        </span>
                    </td>
                    <td class="td-difference">
                        <span>
                            {{node.status.difference ? node.status.difference : ''}}
                        </span>
                    </td>
                    <td class="td-empty"><span></span></td>
                    <td class="td-stable">
                        <div *ngIf="node.node.stable; else elseBlock" class="item stable good">
                            <i class="fas fa-certificate"></i>
                        </div>
                        <ng-template #elseBlock>
                            <div class="item unstable">
                                <i class="fas fa-bolt"></i>
                            </div>
                        </ng-template>

                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>