/* roboto-mono-regular - latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-regular.woff') format('woff'),
        /* Modern Browsers */
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-regular.svg#RobotoMono') format('svg');
    /* Legacy iOS */
}

/* roboto-mono-500 - latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    src: url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-500.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-500.woff') format('woff'),
        /* Modern Browsers */
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-500.svg#RobotoMono') format('svg');
    /* Legacy iOS */
}

/* roboto-mono-600 - latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 600;
    src: url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-600.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-600.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-600.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-600.woff') format('woff'),
        /* Modern Browsers */
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-600.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-600.svg#RobotoMono') format('svg');
    /* Legacy iOS */
}

/* roboto-mono-700 - latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    src: url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-700.woff') format('woff'),
        /* Modern Browsers */
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-700.svg#RobotoMono') format('svg');
    /* Legacy iOS */
}

/* roboto-mono-500italic - latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 500;
    src: url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-500italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-500italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-500italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-500italic.woff') format('woff'),
        /* Modern Browsers */
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-500italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-500italic.svg#RobotoMono') format('svg');
    /* Legacy iOS */
}

/* roboto-mono-italic - latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 400;
    src: url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-italic.woff') format('woff'),
        /* Modern Browsers */
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-italic.svg#RobotoMono') format('svg');
    /* Legacy iOS */
}

/* roboto-mono-600italic - latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 600;
    src: url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-600italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-600italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-600italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-600italic.woff') format('woff'),
        /* Modern Browsers */
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-600italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-600italic.svg#RobotoMono') format('svg');
    /* Legacy iOS */
}

/* roboto-mono-700italic - latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 700;
    src: url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-700italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-700italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-700italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-700italic.woff') format('woff'),
        /* Modern Browsers */
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-700italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('roboto-mono-v13-latin_cyrillic-ext_cyrillic-700italic.svg#RobotoMono') format('svg');
    /* Legacy iOS */
}