<div class="col">

    <!-- Block header -->
    <div class="row">
        <div class="section-top pointer" (click)="toggleShow()">
            <span class="title">
                Node Information
            </span>
            <span class="icon">
                <i [class]="show ? 'fas fa-angle-down opened' : 'fas fa-angle-down closed'">
                </i>
            </span>
        </div>
    </div>


    <!-- Peers list -->
    <div [hidden]="!show" class="row">

        <table class="table table-sm table-borderless" style="min-width: 350px;">
            <thead class="">
                <tr>
                    <th class="text-left" title="Peer address">Addr</th>
                    <th class="text-left" title="Version">Version</th>
                    <th class="text-left" title="Synced blocks/headers">Sync</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let peer of Global.peersinfo"
                    [ngClass]="{'red': peer.synced_blocks < 0 || ((Global.blockchainInfo ? Global.blockchainInfo.blocks : 0) - peer.synced_blocks) > 10}">
                    <td>{{ peer.addr.split(":")[0] }}</td>
                    <td>{{ peer.version.replaceAll('/','').replaceAll('Satoshi:','v') }}</td>
                    <td *ngIf="peer.synced_blocks < 0"><i class="fas fa-spinner"></i>&nbsp;{{ peer.startingheight }}
                    </td>
                    <td *ngIf="peer.synced_blocks > 0">{{ peer.synced_blocks }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>