<app-loader *ngIf="!block && !notFound"></app-loader>

<div class="col" *ngIf="!block && notFound">
    <div class="rowBlock">
        <div class="row">
            Block not found. Try refreshing the page in a couple of minutes
        </div>
    </div>
</div>

<div class="col" *ngIf="block">

    <!-- Header -->
    <div class="rowBlock">
        <div class="row">
            <h1>Block #{{block.height}}</h1>
        </div>
        <div class="row">
            <div class="ellipsis mw-100">
                <span class="">{{block.hash}}</span>
            </div>
        </div>
    </div>

    <!-- Summary -->
    <div class="row rowBlock">
        <div class="col">
            <div class="row">
                <h2>Summary</h2>
            </div>

            <div class="row d-none d-md-flex">
                <div class="col-4">
                    <table class="table table-sm" style="table-layout: fixed">
                        <tr>
                            <td>Transactions</td>
                            <td class="text-right text-muted">{{block.nTx}}</td>
                        </tr>
                        <tr>
                            <td>Height</td>
                            <td class="text-right text-muted">{{block.height}}</td>
                        </tr>
                        <tr>
                            <td>Time</td>
                            <td class="text-right text-muted">{{block.time * 1000 | date:'MM/dd/yyyy HH:mm:ss'}}</td>
                        </tr>
                        <tr *ngIf="block.prevhash">
                            <td>Previous Block</td>
                            <td class="text-right"><a href="block/{{block.prevhash}}">{{block.height-1}}</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-8">
                    <table class="table table-sm">
                        <tr>
                            <td>Difficulty</td>
                            <td class="text-right text-muted">{{block.difficulty}}</td>
                        </tr>
                        <tr>
                            <td>Bits</td>
                            <td class="text-right text-muted">{{block.bits}}</td>
                        </tr>
                        <tr>
                            <td>Merkle Root</td>
                            <td class="text-right text-muted">
                                <div class="ellipsis">
                                    <span>{{block.merkleroot}}</span>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="block.nexthash">
                            <td>Next block</td>
                            <td class="text-right"><a href="block/{{block.nexthash}}">{{block.height+1}}</a></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row d-sm-flex d-md-none">
                <div class="col">
                    <table class="table table-sm" style="table-layout: fixed">
                        <tr>
                            <td>Transactions</td>
                            <td class="text-right text-muted">{{block.nTx}}</td>
                        </tr>
                        <tr>
                            <td>Height</td>
                            <td class="text-right text-muted">{{block.height}}</td>
                        </tr>
                        <tr>
                            <td>Time</td>
                            <td class="text-right text-muted">{{block.time * 1000 | date:'MM/dd/yyyy HH:mm:ss'}}</td>
                        </tr>
                        <tr>
                            <td>Merkle Root</td>
                            <td class="text-right text-muted">
                                <div class="ellipsis">
                                    <span>{{block.merkleroot}}</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Difficulty</td>
                            <td class="text-right text-muted">{{block.difficulty}}</td>
                        </tr>
                        <tr>
                            <td>Bits</td>
                            <td class="text-right text-muted">{{block.bits}}</td>
                        </tr>

                        <tr *ngIf="block.previousblockhash">
                            <td>Previous Block</td>
                            <td class="text-right"><a href="block/{{block.previousblockhash}}">{{block.height-1}}</a>
                            </td>
                        </tr>
                        <tr *ngIf="block.nextblockhash">
                            <td>Next block</td>
                            <td class="text-right"><a href="block/{{block.nextblockhash}}">{{block.height+1}}</a></td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <app-tx-list class="row rowBlock" *ngIf="block" [in_blockHash]="block.hash"></app-tx-list>
</div>