/* You can add global styles to this file, and also import other style files */
* {
  font-size: 0.95rem;
}
html,
body {
  height: 100%;
}
h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.3rem;
}
a {
  text-decoration: none !important;
}
.ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.pointer {
  cursor: pointer;
}
