<div class="col">

    <!-- Block header -->
    <div class="row">
        <h1>
            Pocketnet nodes
        </h1>
    </div>

    <!-- List header -->
    <div class="row"></div>

    <!-- Peers list -->
    <div class="row">
        
        <table class="table table-sm table-borderless" style="min-width: 350px;">
            <thead class="">
                <tr>
                    <th class="text-left th-checkbox"></th>
                    <th class="text-left th-name" title="Name"><span>Name</span></th>
                    <th class="text-left th-address" title="Address"><span>Address</span></th>
                    <th class="text-left th-status" title="Status"><span>Status</span></th>
                    <th class="text-left"></th>
                    <th class="text-left"></th>
                    <th class="text-left"></th>
                </tr>
            </thead>
            <tbody>
                <tr 
                    *ngFor="let node of nodes; trackBy: trackByFn"
                    [class]="!node.statistic.percent ? 'cantuse' : ''"
                >
                    <td
                        (click)="selectNode(node.node.key)"
                    >
                        <div 
                            *ngIf="selectedNode !== node.node.key" 
                            class="use"
                        >
                            <i
                                class="far fa-circle"
                            ></i>    
                        </div>
                        <div 
                            *ngIf="selectedNode === node.node.key" 
                            class="use using"
                        >
                            <i class="fa fa-check-circle"></i>
                        </div>
                    </td>
                    <td><span>{{ node.node.name }}</span></td>
                    <td><span>{{ node.node.key + '/' + node.node.ws }}</span></td>
                    <td>
                        <span
                            *ngIf="node.statistic.percent"
                        >
                            {{ node.statistic.time.toFixed(0) + 'ms, ' + node.statistic.percent.toFixed(0) + ' %'}}
                        </span>
                        <span
                            *ngIf="!node.statistic.percent"
                        >
                            —
                        </span>
                    </td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td>   
                        <div class="item stable good">
                            <i class="fas fa-certificate"></i>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>