@color-text-second :#00a4ff;
@color-good : #068222;


thead{

    tr{
        background: #fafafa;

        th{
            width: 40px;
            text-align: center;
            color: #e4ddde;
            padding-right: 0;
            vertical-align: middle;
            padding: 2.5em .3em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &.th-checkbox{
                width: 7%;
            }

            &.th-name{
                width: 20%;
            }

            &.th-address{
                width: 25%;
            }

            th.status {
                width: 15%
            }

        }
        
    
    }

}

tbody{

    tr{
        border-bottom: 1px solid #e4ddde;

        &.cantuse{
            color: #e4ddde
        }


        td{
            vertical-align: middle;

            .unstable{
                color: #b2abac;
            }

            .stable{
                &.good{
                    color: @color-good;

                }
            }
                
            .use{
                margin-left: auto;
                width: 40px;
                cursor: pointer;
                text-align: center;
                color: #e4ddde;
                padding-right: 0;
                vertical-align: middle;
                padding: 1.5em 1em;
                overflow: hidden;


                &.using{
                    color: @color-good;
                }
        
                &:hover{
                    color: @color-text-second;
                }
                
            }


        }

    }
}




